.container {
  min-height: 100vh;
  background-color: var(--tgui--bg_color);
  display: flex;
  flex-direction: column;
}

.formSection {
  background-color: var(--tgui--bg_color);
}

.buttonContainer {
  padding: var(--spacing-m);
  background-color: var(--tgui--bg_color);
  margin-top: auto;
}

.list {
  background-color: transparent;
}

.list :global(hr) {
  display: none;
}
