.tinder-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  gap: 12px;
  position: relative;
  background: var(--tgui--bg_color);
  outline: 5px solid transparent;
  outline-offset: -5px;
  border-radius: 10px;
}

.tinder-swiper__card-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  touch-action: pan-y;
}

.tinder-swiper__match-controls {
    width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
