.tinder-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  gap: 12px;
  position: relative;
  background: var(--tgui--bg_color);
}

.tinder-swiper__card-container {
  width: 100%;
  overflow-y: hidden;
  height: fit-content;
  touch-action: pan-y;
}

.tinder-swiper__match-controls {
    width: 100%;
}
