.tinder-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0;
  gap: 12px;
  position: relative;
  background: var(--tgui--bg_color);
}

.tinder-swiper__card-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  overflow-y: auto;
  max-height: 90%;
  touch-action: pan-y;
}

.tinder-swiper__match-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}
