.match-card__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.match-card__info {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.match-card__title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  color: var(--tgui--text_color);
}

.match-card__subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: var(--tgui--text_color);
}

.match-card__details,
.match-card__price,
.match-card__address {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: var(--tgui--text_color);
}

.match-card__price {
  font-weight: 400;
}

.match-card__address {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

.match-card__description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--tgui--hint_color);
  margin: 0;
}
