.hidden {
    display: none !important;
}

.modal {
    max-width: 90vw;
    background-color: var(--tgui--bg_color);
    z-index: var(--tgui--z-index--overlay);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    border-radius: 10px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__overlay {
  z-index: var(--tgui--z-index--overlay);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.modal * {
  align-self: stretch;
}
