.inputWrapper {
  position: relative;
  padding-bottom: var(--spacing-l);
  min-height: 80px;
}

.inputWrapper > :global(div[class*="tgui-"]) {
  background-color: transparent;
  padding-bottom: 5px;
}

/* Force display headers on iOS */
.inputWrapper > :global(div[class*="tgui-"]) :global(.tgui-cell__header),
.inputWrapper > :global(div[class*="tgui-"]) :global(.tgui-header) {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.inputSuffix {
  color: var(--tgui--hint_color);
  font-size: 16px;
}

.errorText {
  position: absolute;
  bottom: 16px;
  left: 25px;
  color: var(--tgui--destructive_text_color);
  font-size: 13px;
  line-height: 16px;
  height: 16px;
}

