.inputWrapper {
  position: relative;
  padding-bottom: var(--spacing-l);
}

.inputWrapper > :global(div[class*="tgui-"]) {
  padding-bottom: 5px !important;
  background-color: var(--tgui--bg_color);
}

/* Force display headers on iOS */
.inputWrapper > :global(div[class*="tgui-"]) :global(.tgui-cell__header),
.inputWrapper > :global(div[class*="tgui-"]) :global(.tgui-header) {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.inputSuffix {
  color: var(--tgui--hint_color);
  font-size: 16px;
}

.errorText {
  padding-left: 25px;
  color: var(--tgui--destructive_text_color);
  font-size: 13px;
  line-height: 16px;
}

