:root {
  --button_color: #007AFF;
  --warning-color: #ff8d28;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  /* Paddings */
  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 24px;

  /* Colors */
  --tgui--bg_color: var(--tg-theme-bg-color, #ffffff);
  --secondary-bg-color: var(--tg-theme-secondary-bg-color, #f1f1f1);
  --text-color: var(--tg-theme-text-color, #000000);
  --hint-color: var(--tg-theme-hint-color, #999999);
  --tgui--link_color: var(--tg-theme-link-color, #2481cc);
  --button-color: var(--tg-theme-button-color, #2481cc);
  --button-text-color: var(--tg-theme-button-text-color, #ffffff);
  --tgui--text_color: var(--tg-theme-text-color, #000000);
  --tgui--hint_color: var(--tg-theme-hint-color, #999999);
  --tgui--destructive_text_color: var(--tg-theme-destructive-text-color, #ff3b30);
  --tgui--border_color: color-mix(in srgb, var(--tg-theme-hint-color, #999999) 25%, transparent);

  /* Input specific */
  --input-height: 20px;        /* inner text line height */
  --input-outer-height: 30px;  /* visual height of input field */
  --border-radius: 16px;

  --font-size-title-3: 20px;

  --font-weight-title-3: 400;

  --line-height-title-3: 24px;
}

body {
  background: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-3 {
  font-size: var(--font-size-title-3);
  font-weight: var(--font-weight-title-3);
  line-height: var(--line-height-title-3);
}
